@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");



#foto{
    display: flex;
   justify-content: end;
   top: 50px;
}


#logo {
    padding-left: 15%;
    padding-top: 5%;
}


header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}


* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

/* Header */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #ddd;
    background-color: lightblue;
}

#nav-title {
    margin-right: auto;
    font-size: 1.5em;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: #b93a6f
    
}

body {background-image: url(https://preview.redd.it/the-wallpaper-of-the-menu-art-on-the-disco-elysium-website-v0-ouo0vm6gn9f91.png?width=1080&crop=smart&auto=webp&s=7a3e4cf2f74a9e2f6a830de63d1d81d83720446e) ;
    background-repeat: no-repeat;
    background-size: cover;
}

#quote {
    color: white;
    font-family:fantasy;
    font-size: larger;
    padding: 10%;
    
}

#sinopsis {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: smaller;
    background-color: #29242479;
    width: 605px ;
}

#analisis{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    
}
